body {
  background-image: url("http://az616578.vo.msecnd.net/files/2017/02/17/636229604616551978161286867_fire.jpg");
  background-size: 100%;
  background-attachment: fixed;
}
img{
  width:50%
  ;
}
.row{
  text-align:center;
}
body h1{
  color: white;
  text-align:center;
  font-weight:bold; 
  
}
body h3 {
  color: white;
}
#apple{
  margin-top:70px;
}
#directions{
  text-align:center;
  margin: 15px;
}
.row {
  margin-right: -10px;
  margin-left: -10px;
}
.col-sm-4{
  text-align: center;
  font-weight: bold;
}
.col-sm-4 h2 {
  font-size: 140px; 
  color: white;
}